.swagger-section #header #logo {
    background: transparent url(../images/settings-icon.png) no-repeat left center;
    background-size: contain;
    padding: 10px 0 10px 80px;
}

.swagger-section .logo__img {
    display: none !important;
}

.swagger-section .logo__title {
    width: 8em;
    height: 20px;
    overflow: hidden;
}

.swagger-section .logo__title:before{
    content: 'Demo API            ';
}

.swagger-section #api_selector {
    display: none;
}